.mint-header{
    background-color: #333340;
    height: 0.96rem;
    line-height: 0.96rem;
    width: 7.5rem;
}
.mint-header-title{
    font-size: 0.36rem
}
.mint-tabbar{
	position: fixed;
    bottom: 0;
    border-top:1px solid #e6e6e6; 
    z-index: 999;
}	
.mint-tab-item-label{
	color: #c2c2cc;
}

.mint-tabbar > .mint-tab-item.is-selected .mint-tab-item-label {
    background-color: #eaeaea;
    color: #333340;
}